@charset  "utf-8";
body,div,ul,li{margin:0;padding:0}
img{border:0}
li{list-style:none}
.clear{clear:both}
#slide_container{width:605px;margin:0 auto}
#slider{overflow:hidden}
#slides li{float:left;width:605px;height:455px}
#slides li img{width:605px;height:455px}
#ctrl{width:605px;padding:20px 10px}
#ctrl img{float:left;margin-right:15px;width:60px;height:48px;cursor:pointer}
